<!DOCTYPE html>
<html>
<head>
  <title>About me</title>
  <%= stylesheet_link_tag    'me', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'me', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
